# Intrusion Detection based Anomaly method using Clustering algorithm
- K-Means

### Importing Packages

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (3.0.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.9)

In [ ]:
import pyspark.sql.functions as funcs
from pyspark.ml.linalg import Vectors, VectorUDT
from pyspark.sql.types import *
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder\
.master("local[4]")\
.appName("ReadFromCsv")\
.config("spark.driver.memory","3g")\
.config("spark.executor.memory", "4g")\
.getOrCreate()

In [ ]:
'''logger = spark.sparkContext._jvm.org.apache.log4j
logger.LogManager.getLogger("org"). setLevel(logger.Level.ERROR)
logger.LogManager.getLogger("akka").setLevel(logger.Level.ERROR)'''

'logger = spark.sparkContext._jvm.org.apache.log4j\nlogger.LogManager.getLogger("org"). setLevel(logger.Level.ERROR)\nlogger.LogManager.getLogger("akka").setLevel(logger.Level.ERROR)'

## Predict on Stream

# 1. Load Dataset

In [ ]:
iris = spark.read \
.format("csv")\
.option("header", True)\
.option("sep", ",")\
.option("inferSchema", "True")\
.load("UNSW_NB15.csv")

In [ ]:
iris.head()

Row(id=1, dur=1.1e-05, proto='udp', service='-', state='INT', spkts=2, dpkts=0, sbytes=496, dbytes=0, rate=90909.0902, sttl=254, dttl=0, sload=180363632.0, dload=0.0, sloss=0, dloss=0, sinpkt=0.011, dinpkt=0.0, sjit=0.0, djit=0.0, swin=0, stcpb=0, dtcpb=0, dwin=0, tcprtt=0.0, synack=0.0, ackdat=0.0, smean=248, dmean=0, trans_depth=0, response_body_len=0, ct_srv_src=2, ct_state_ttl=2, ct_dst_ltm=1, ct_src_dport_ltm=1, ct_dst_sport_ltm=1, ct_dst_src_ltm=2, is_ftp_login=0, ct_ftp_cmd=0, ct_flw_http_mthd=0, ct_src_ltm=1, ct_srv_dst=2, is_sm_ips_ports=0, attack_cat='Normal', label=0)

In [ ]:
iris.printSchema()

root
 |-- id: integer (nullable = true)
 |-- dur: double (nullable = true)
 |-- proto: string (nullable = true)
 |-- service: string (nullable = true)
 |-- state: string (nullable = true)
 |-- spkts: integer (nullable = true)
 |-- dpkts: integer (nullable = true)
 |-- sbytes: integer (nullable = true)
 |-- dbytes: integer (nullable = true)
 |-- rate: double (nullable = true)
 |-- sttl: integer (nullable = true)
 |-- dttl: integer (nullable = true)
 |-- sload: double (nullable = true)
 |-- dload: double (nullable = true)
 |-- sloss: integer (nullable = true)
 |-- dloss: integer (nullable = true)
 |-- sinpkt: double (nullable = true)
 |-- dinpkt: double (nullable = true)
 |-- sjit: double (nullable = true)
 |-- djit: double (nullable = true)
 |-- swin: integer (nullable = true)
 |-- stcpb: long (nullable = true)
 |-- dtcpb: long (nullable = true)
 |-- dwin: integer (nullable = true)
 |-- tcprtt: double (nullable = true)
 |-- synack: double (nullable = true)
 |-- ackdat: double (nullable = true)
 |-- smean: integer (nullable = true)
 |-- dmean: integer (nullable = true)
 |-- trans_depth: integer (nullable = true)
 |-- response_body_len: integer (nullable = true)
 |-- ct_srv_src: integer (nullable = true)
 |-- ct_state_ttl: integer (nullable = true)
 |-- ct_dst_ltm: integer (nullable = true)
 |-- ct_src_dport_ltm: integer (nullable = true)
 |-- ct_dst_sport_ltm: integer (nullable = true)
 |-- ct_dst_src_ltm: integer (nullable = true)
 |-- is_ftp_login: integer (nullable = true)
 |-- ct_ftp_cmd: integer (nullable = true)
 |-- ct_flw_http_mthd: integer (nullable = true)
 |-- ct_src_ltm: integer (nullable = true)
 |-- ct_srv_dst: integer (nullable = true)
 |-- is_sm_ips_ports: integer (nullable = true)
 |-- attack_cat: string (nullable = true)
 |-- label: integer (nullable = true)

In [ ]:
iris=iris.drop('proto','service','state','label')

# 2. Data Preparation for Training

In [ ]:
from pyspark.ml.feature import VectorAssembler, StringIndexer
from pyspark.ml import Pipeline

In [ ]:
#train, test = data.randomSplit([0.70, 0.30])

### 2.1 Data Vectorization and String Indexing

In [ ]:
label_indexer = StringIndexer(inputCol = "attack_cat", outputCol = "label")

label_indexer_model = label_indexer.fit(iris)
new_df = label_indexer_model.transform(iris)

In [ ]:
feature_cols = iris.columns[:-1]

In [ ]:
assembler = VectorAssembler(inputCols = feature_cols, outputCol = 'vec_features')
assembler_df = assembler.transform(new_df)

In [ ]:
normal = assembler_df.where(funcs.col("attack_cat") == "Normal")

### 2.2 Feature Reduction using PCA (Principal Component Analysis)

In [ ]:
from pyspark.ml.feature import PCA

pca = PCA(k=9, inputCol="vec_features", outputCol="features")
pcaModel = pca.fit(normal)
normal_reduction_df = pcaModel.transform(normal)

In [ ]:
normal_reduction_df.toPandas().head(3)

   id  ...                                           features
0   1  ...  [4959946.8794864, -17456.289661774674, 1802953...
1   2  ...  [24227235.07051033, -85266.57379073313, 880666...
2   3  ...  [23495744.56271649, -82692.12633856495, 854076...

[3 rows x 44 columns]

# 3. Train Model (K-Means Clustering)

### 3.1 Training of Data

In [ ]:
from pyspark.ml.clustering import KMeans

k_num = 2
kmeans = KMeans(featuresCol='features',k=k_num, maxIter=100)
model = kmeans.fit(normal_reduction_df)

### 3.1.1 Prediction Training Dataset

In [ ]:
pca = PCA(k=9, inputCol="vec_features", outputCol="features")
pcaModel = pca.fit(assembler_df)
test_reduction_df = pcaModel.transform(assembler_df)

predictions = model.transform(test_reduction_df)
predictions = predictions.select("features","label","prediction")
predictions.toPandas().head()

                                            features  label  prediction
0  [5708712.889189165, 1237.7888575087018, 180273...    0.0           1
1  [27884633.38072515, 6046.07048660398, 88055849...    0.0           1
2  [27042716.843218617, 5863.523577897636, 853971...    0.0           1
3  [18990672.98883812, 4117.643203814579, 5996993...    0.0           1
4  [26916108.39680101, 5836.070002120078, 8499738...    0.0           1

In [ ]:
test_reduction_df.head(5)

[Row(id=1, dur=1.1e-05, spkts=2, dpkts=0, sbytes=496, dbytes=0, rate=90909.0902, sttl=254, dttl=0, sload=180363632.0, dload=0.0, sloss=0, dloss=0, sinpkt=0.011, dinpkt=0.0, sjit=0.0, djit=0.0, swin=0, stcpb=0, dtcpb=0, dwin=0, tcprtt=0.0, synack=0.0, ackdat=0.0, smean=248, dmean=0, trans_depth=0, response_body_len=0, ct_srv_src=2, ct_state_ttl=2, ct_dst_ltm=1, ct_src_dport_ltm=1, ct_dst_sport_ltm=1, ct_dst_src_ltm=2, is_ftp_login=0, ct_ftp_cmd=0, ct_flw_http_mthd=0, ct_src_ltm=1, ct_srv_dst=2, is_sm_ips_ports=0, attack_cat='Normal', label=0.0, vec_features=SparseVector(40, {0: 1.0, 1: 0.0, 2: 2.0, 4: 496.0, 6: 90909.0902, 7: 254.0, 9: 180363632.0, 13: 0.011, 24: 248.0, 28: 2.0, 29: 2.0, 30: 1.0, 31: 1.0, 32: 1.0, 33: 2.0, 37: 1.0, 38: 2.0}), features=DenseVector([5708712.8892, 1237.7889, 180273267.6551, -83476.0189, -1224.5606, 694.9033, 24605.3435, 1062.7755, 86.8435])),
 Row(id=2, dur=8e-06, spkts=2, dpkts=0, sbytes=1762, dbytes=0, rate=125000.0003, sttl=254, dttl=0, sload=881000000.0, dload=0.0, sloss=0, dloss=0, sinpkt=0.008, dinpkt=0.0, sjit=0.0, djit=0.0, swin=0, stcpb=0, dtcpb=0, dwin=0, tcprtt=0.0, synack=0.0, ackdat=0.0, smean=881, dmean=0, trans_depth=0, response_body_len=0, ct_srv_src=2, ct_state_ttl=2, ct_dst_ltm=1, ct_src_dport_ltm=1, ct_dst_sport_ltm=1, ct_dst_src_ltm=2, is_ftp_login=0, ct_ftp_cmd=0, ct_flw_http_mthd=0, ct_src_ltm=1, ct_srv_dst=2, is_sm_ips_ports=0, attack_cat='Normal', label=0.0, vec_features=SparseVector(40, {0: 2.0, 1: 0.0, 2: 2.0, 4: 1762.0, 6: 125000.0003, 7: 254.0, 9: 881000000.0, 13: 0.008, 24: 881.0, 28: 2.0, 29: 2.0, 30: 1.0, 31: 1.0, 32: 1.0, 33: 2.0, 37: 1.0, 38: 2.0}), features=DenseVector([27884633.3807, 6046.0705, 880558491.1358, -408367.2122, -9005.8075, 8940.2093, -198712.4486, 1251.3801, 301.0957])),
 Row(id=3, dur=5e-06, spkts=2, dpkts=0, sbytes=1068, dbytes=0, rate=200000.0051, sttl=254, dttl=0, sload=854400000.0, dload=0.0, sloss=0, dloss=0, sinpkt=0.005, dinpkt=0.0, sjit=0.0, djit=0.0, swin=0, stcpb=0, dtcpb=0, dwin=0, tcprtt=0.0, synack=0.0, ackdat=0.0, smean=534, dmean=0, trans_depth=0, response_body_len=0, ct_srv_src=3, ct_state_ttl=2, ct_dst_ltm=1, ct_src_dport_ltm=1, ct_dst_sport_ltm=1, ct_dst_src_ltm=3, is_ftp_login=0, ct_ftp_cmd=0, ct_flw_http_mthd=0, ct_src_ltm=1, ct_srv_dst=3, is_sm_ips_ports=0, attack_cat='Normal', label=0.0, vec_features=SparseVector(40, {0: 3.0, 1: 0.0, 2: 2.0, 4: 1068.0, 6: 200000.0051, 7: 254.0, 9: 854400000.0, 13: 0.005, 24: 534.0, 28: 3.0, 29: 2.0, 30: 1.0, 31: 1.0, 32: 1.0, 33: 3.0, 37: 1.0, 38: 3.0}), features=DenseVector([27042716.8432, 5863.5236, 853971850.5585, -395884.5951, -7183.7028, 7329.5348, -113985.0617, 2184.3039, 321.9166])),
 Row(id=4, dur=6e-06, spkts=2, dpkts=0, sbytes=900, dbytes=0, rate=166666.6608, sttl=254, dttl=0, sload=600000000.0, dload=0.0, sloss=0, dloss=0, sinpkt=0.006, dinpkt=0.0, sjit=0.0, djit=0.0, swin=0, stcpb=0, dtcpb=0, dwin=0, tcprtt=0.0, synack=0.0, ackdat=0.0, smean=450, dmean=0, trans_depth=0, response_body_len=0, ct_srv_src=3, ct_state_ttl=2, ct_dst_ltm=2, ct_src_dport_ltm=2, ct_dst_sport_ltm=1, ct_dst_src_ltm=3, is_ftp_login=0, ct_ftp_cmd=0, ct_flw_http_mthd=0, ct_src_ltm=2, ct_srv_dst=3, is_sm_ips_ports=0, attack_cat='Normal', label=0.0, vec_features=SparseVector(40, {0: 4.0, 1: 0.0, 2: 2.0, 4: 900.0, 6: 166666.6608, 7: 254.0, 9: 600000000.0, 13: 0.006, 24: 450.0, 28: 3.0, 29: 2.0, 30: 2.0, 31: 2.0, 32: 1.0, 33: 3.0, 37: 2.0, 38: 3.0}), features=DenseVector([18990672.9888, 4117.6432, 599699342.8948, -277957.6186, -4891.8652, 4688.0228, -53840.0815, 1857.9468, 236.2107])),
 Row(id=5, dur=1e-05, spkts=2, dpkts=0, sbytes=2126, dbytes=0, rate=100000.0025, sttl=254, dttl=0, sload=850400000.0, dload=0.0, sloss=0, dloss=0, sinpkt=0.01, dinpkt=0.0, sjit=0.0, djit=0.0, swin=0, stcpb=0, dtcpb=0, dwin=0, tcprtt=0.0, synack=0.0, ackdat=0.0, smean=1063, dmean=0, trans_depth=0, response_body_len=0, ct_srv_src=3, ct_state_ttl=2, ct_dst_ltm=2, ct_src_dport_ltm=2, ct_dst_sport_ltm=1, ct_dst_src_ltm=3, is_ftp_login=0, ct_ftp_cmd=0, ct_flw_http_mthd=0, ct_src_ltm=2, ct_srv_dst=3, is_sm_ips_ports=0, attack_cat='Normal', label=0.0, vec_features=SparseVector(40, {0: 5.0, 1: 0.0, 2: 2.0, 4: 2126.0, 6: 100000.0025, 7: 254.0, 9: 850400000.0, 13: 0.01, 24: 1063.0, 28: 3.0, 29: 2.0, 30: 2.0, 31: 2.0, 32: 1.0, 33: 3.0, 37: 2.0, 38: 3.0}), features=DenseVector([26916108.3968, 5836.07, 849973818.5806, -394223.0946, -9356.5396, 8972.1513, -212454.0025, 954.0812, 282.8924]))]

### 3.1.2 Calculation of Silhouette Score

In [ ]:
from pyspark.ml.evaluation import ClusteringEvaluator
evaluator = ClusteringEvaluator()
silhouette = evaluator.evaluate(predictions)
print("Silhouette with squared euclidean distance = " + str(silhouette))

Silhouette with squared euclidean distance = 0.7641545083264973

### 3.2 Analysing of Trained model

#### Analysing of how many labels have in a cluster ?

In [ ]:
predictions.select("prediction", "label").groupBy("prediction", "label").count()\
.orderBy("prediction", "label", ascending=True).toPandas().head(10)

   prediction  label  count
0           0    0.0  20122
1           0    1.0    419
2           0    2.0   6125
3           0    3.0   2902
4           0    4.0    790
5           0    5.0   1452
6           0    6.0     43
7           0    7.0     40
8           0    8.0    149
9           0    9.0     26

In [ ]:
predictions.select("prediction", "label")\
.groupBy("prediction", "label").count()\
.orderBy("prediction", "label", ascending=True).withColumn("status",
funcs.when(funcs.col("label").isin(1), "Anomaly")\
.otherwise("Normal")).toPandas().head()

   prediction  label  count   status
0           0    0.0  20122   Normal
1           0    1.0    419  Anomaly
2           0    2.0   6125   Normal
3           0    3.0   2902   Normal
4           0    4.0    790   Normal

### 3.3 Calculation of centroids for every cluster

In [ ]:
train_clusters = model.clusterCenters()

traind_clusters = {int(i):[float(train_clusters[i][j]) for j in range(len(train_clusters[i]))] 
              for i in range(len(train_clusters))}
train_clusters

[array([-3.53987486e+09,  7.21069162e+06,  9.79013203e+07, -7.27953090e+05,
        -3.50022419e+03, -4.59904213e+04,  6.94134083e+03, -1.01817722e+03,
         4.99206380e+04]),
 array([-4.63817818e+08, -2.04559348e+06,  9.93055341e+07, -8.08098696e+05,
        -3.90772282e+03, -4.71055870e+04,  6.13599140e+03, -8.72729361e+02,
         4.93227479e+04])]

In [ ]:
train_df_centers = spark.sparkContext.parallelize([(k,)+(v,) for k,v in traind_clusters.items()]).toDF(['prediction','center'])
train_df_centers.toPandas().head()

   prediction                                             center
0           0  [-3539874863.1353145, 7210691.6237883195, 9790...
1           1  [-463817818.45496565, -2045593.4777213074, 993...

In [ ]:
train_pred_df = predictions.withColumn('prediction',funcs.col('prediction').cast(IntegerType()))
train_pred_df.toPandas().head()

                                            features  label  prediction
0  [5708712.889189165, 1237.7888575087018, 180273...    0.0           1
1  [27884633.38072515, 6046.07048660398, 88055849...    0.0           1
2  [27042716.843218617, 5863.523577897636, 853971...    0.0           1
3  [18990672.98883812, 4117.643203814579, 5996993...    0.0           1
4  [26916108.39680101, 5836.070002120078, 8499738...    0.0           1

### 3.3.1 Joining of centroid and feature dataframes

In [ ]:
train_pred_df = train_pred_df.join(train_df_centers,on='prediction',how='left')
train_pred_df.toPandas().head()

   prediction  ...                                             center
0           0  ...  [-3539874863.1353145, 7210691.6237883195, 9790...
1           0  ...  [-3539874863.1353145, 7210691.6237883195, 9790...
2           0  ...  [-3539874863.1353145, 7210691.6237883195, 9790...
3           0  ...  [-3539874863.1353145, 7210691.6237883195, 9790...
4           0  ...  [-3539874863.1353145, 7210691.6237883195, 9790...

[5 rows x 4 columns]

### 3.4 Finding Anomaly Values

#### Getting distance values function

In [ ]:
get_dist = funcs.udf(lambda features, center :
                 float(features.squared_distance(center)),FloatType())

#### Sorting the furthest distance values

In [ ]:
train_pred_df = train_pred_df.withColumn('dist',get_dist(funcs.col('features'),funcs.col('center')))
train_pred_df.toPandas().sort_values(by="dist",ascending=False).head(10)

       prediction  ...          dist
60148           1  ...  2.708573e+19
60145           1  ...  2.708573e+19
60147           1  ...  2.708573e+19
60149           1  ...  2.708573e+19
60146           1  ...  2.708573e+19
60144           1  ...  2.708573e+19
81207           1  ...  1.856556e+19
80237           1  ...  1.761862e+19
59670           1  ...  1.761862e+19
62641           1  ...  1.761862e+19

[10 rows x 5 columns]

### 3.5 Calculation of Threshold Value according to distance

### 3.5.1 Average distance for every cluster

In [ ]:
averageDistance = train_pred_df.filter(funcs.col("label") == 0.0).groupBy("prediction")\
.agg(funcs.avg("dist").alias("avgDist"))
averageDistance.toPandas().head()

   prediction       avgDist
0           1  8.193462e+17
1           0  2.544128e+18

### 3.5.2 Maximum distance for every cluster

In [ ]:
maxDistance = train_pred_df.filter(funcs.col("label") == 0.0).groupBy("prediction")\
.agg(funcs.max("dist").alias("maxDist"))
maxDistance.toPandas().head()

   prediction       maxDist
0           1  1.856556e+19
1           0  9.306718e+18

### Predicted Dataframe

In [ ]:
train_pred_df.toPandas().head(5)

   prediction  ...          dist
0           0  ...  8.837835e+17
1           0  ...  2.751411e+18
2           0  ...  1.640805e+18
3           0  ...  3.718308e+18
4           0  ...  1.618593e+18

[5 rows x 5 columns]

#### 3.5.3 Joining of predicted and threshold dataframes

In [ ]:
anomalyDetection = train_pred_df.join(maxDistance, maxDistance.prediction == train_pred_df.prediction)

anomalyDetection.toPandas().head(5)

   prediction  ...       maxDist
0           1  ...  1.856556e+19
1           1  ...  1.856556e+19
2           1  ...  1.856556e+19
3           1  ...  1.856556e+19
4           1  ...  1.856556e+19

[5 rows x 7 columns]

### 3.6 Assigning of labels as normal or anomaly

In [ ]:
detected_df = anomalyDetection.withColumn("detected", funcs.when(anomalyDetection.dist > anomalyDetection.maxDist, "Anomaly").otherwise("Normal"))
detected_df.toPandas().head(5)

   prediction  ... detected
0           1  ...   Normal
1           1  ...   Normal
2           1  ...   Normal
3           1  ...   Normal
4           1  ...   Normal

[5 rows x 8 columns]

### 3.7 Evaluation of result using Confusion Matrix

In [ ]:
conf_matrix = detected_df.withColumn("label",funcs.when(funcs.col("label").isin(1), "Anomaly").otherwise("Normal"))\
.groupBy("label","detected").count()
conf_matrix.toPandas().head(10)

     label detected  count
0  Anomaly   Normal  18871
1   Normal  Anomaly     10
2   Normal   Normal  63451

### 3.7.1 Calculation of Accuracy

In [ ]:
all_df = detected_df.count()
tptn = conf_matrix.filter(conf_matrix.label == conf_matrix.detected).agg(funcs.sum("count")).select("sum(count)").toPandas().head()
tptn = tptn.at[0, 'sum(count)']

In [ ]:
accuracy = tptn / all_df
print("Accuracy: ", accuracy)

Accuracy:  0.7706723995530292

### 3.7.2 Calculation of Recall

In [ ]:
tp = conf_matrix.filter((conf_matrix.label == "Normal") & ( conf_matrix.detected == "Normal")).select("count").toPandas()
fn = conf_matrix.filter((conf_matrix.label == "Anomaly") & ( conf_matrix.detected == "Normal")).select("count").toPandas()
tp = tp.at[0, 'count']
fn = fn.at[0, 'count']

In [ ]:
recall = tp / (tp + fn)
print("Recall: ", recall)

Recall:  0.7707660163747236